/* tag name */
#ashish{
    colour: rgb(28,218,11)

}
/* Class Name */
.ashish{
    Color:rgb(207,107,12)
}
#main{
    background-color: rgb(255,34,89);
}
#second{
    background-color:rgb(207,107,12)
}