/* tag name */
#ashish{
    color: rgb(28,218,11)

}
/* Class Name */
.ashish{
    Color:rgb(207,107,12)
}
#main{
    background-color: rgb(255,34,89);
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    background-image: linear-gradient(#F1EFE9,#2E79FF,#FF3153);
}
#second{
    background-color:rgb(207,107,12);
    /* Box Model */
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    background-image: linear-gradient(#FF3153,#2E79FF);

}